<div class="text-center">
<div id="image-list">

        <span  ng-model="pics" ng-repeat="(i,pic) in pics | orderBy:'rank'">

            <div class="spinner" id="spin{{i}}"></div>
            <div class="taglabel">{{pic.tag}}</div>
            <div class="image">
                <div class="specs" id="imspec{{i}}"></div>
                <img style="display=none;" id="im{{i}}" src="/images/gallary/{{tag.name}}/{{pic.name}}" imageonload>

            </div>
        </span>
    </span>
</div>
</div>
